@model PaginatedList<NewMTest.Models.PessoaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<style>
    .container {
        max-width: 1800px;
    }

    tbody td:nth-child(6n) {
        word-wrap: break-word
    }

    tbody td:nth-child(7n) {
        word-wrap: break-word;
    }

</style>

<p>
    <a asp-action="Edit" class="btn btn-success">Adicionar Pessoa</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Data Nascimento
            </th>
            <th>
                CPF
            </th>
            <th>
                Celular
            </th>
            <th>
                E-Mail
            </th>
            <th>
                Endereço
            </th>
            <th>
                Observação
            </th>
            <th></th>
        </tr>
    </thead>
</table>